Question no 14

In [ ]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 1
This is an odd number.

Qustion no 15

In [ ]:
numr=int(input("Enter range:"))

print("Prime numbers:",end=' ')

for n in range(1,numr):

    for i in range(2,n):

        if(n%i==0):

            break

    else:

        print(n,end=' ')

Enter range:50
Prime numbers: 1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

QUESTION NO 17 FIND THE SMALLEST NUM AMONG 3

In [ ]:
num1= int(input("enter 1st num. "))
num2= int(input("enter 2nd num. "))
num3= int(input("enter 3rd num. "))
if (num1 <= num2 ) or (num1<= num3):
snum = num1
elif(num2 <= num1) (num2 < = num3):
snum = num2
else:
snum = num3
print("the smallest num amoung ", num1 , " " , num2, " ", "and", num3, is: " ,snum)

IndentationError: ignored

Question no 18

In [ ]:
print(pow(2,3))

8

In [ ]:
print(pow(2,4))

16

QUESTION NO 21

In [ ]:
import math
print(math.sqrt(2))

1.4142135623730951

Question no 20

In [ ]:
import math
a = 10
print(pow(a, 3))

1000

Questions no 19

Question no 20:

In [ ]:
n=int(input("Enter a number :"))
s=n**2
print("square of {} is {} " .format(n,s))

Enter a number :5
square of 5 is 25

Qustion no 22

In [ ]:
dec=int(input("Enter a decimal number: "))
print(bin(dec)," in binary.")

Enter a decimal number: 5
0b101  in binary.

CONVERT DECIMAL NUM IN OCTAL NUM:

In [ ]:
dec=int(input("Enter a dec number: "))
print(oct(dec)," in octal.")

Enter a dec number: 5
0o5  in octal.

question 24 TO CHECK THE LEAP YEAR OR NOT:

In [ ]:
year = int(input("Enter Year: "))

# Leap Year Check
if year % 4 == 0 and year % 100 != 0:
    print(year, "is a Leap Year")
elif year % 100 == 0:
    print(year, "is not a Leap Year")
elif year % 400 ==0:
    print(year, "is a Leap Year")
else:
    print(year, "is not a Leap Year")

Enter Year: 2022
2022 is not a Leap Year



```
# This is formatted as code
```

QUESTION NO 26 CELCIUS CONVERT INTO FARENHEIT

In [ ]:
celsius = float(input("Enter temperature in celsius: ")) 
fahrenheit = (celsius * 1.8) + 32 
print('%0.1f celsius = %0.1f Fahrenheit' % (celsius, fahrenheit))

Enter temperature in celsius: 101
101.0 celsius = 213.8 Fahrenheit

QUESTION NO 25  FARENHEIT COVERT INTO CELCIUS

In [ ]:
x=float(input("enter a value "))
c = (x-32) *18
print("the conversion from faranheit to celcius is " , c )

enter a value 98.1

Q1:Python program to reverse an integer

In [ ]:
i= int(input("enter no. "))
rev= 0
while(i > 0):
  rev= (rev * 10 )+i % 10
  i=i // 10
  print("reverse= ", rev)

enter no. 1234
reverse=  4
reverse=  43
reverse=  432
reverse=  4321

Q2: Amstong number

In [ ]:
x =int(input("enter no. "))
temp = number
add_sum = 0
while temp!=0:
    k = temp%10
    add_sum +=k*k*k
    temp = temp//10
if add_sum==number:
    print('Armstrong Number')
else:
    print('Not a Armstrong Number')

enter no. 153
Armstrong Number

Question no 3

In [ ]:
# Python program to check if
# given number is prime or not
  
num = int(input("enter no, "))
  
# If given number is greater than 1
if num > 1:
  
    # Iterate from 2 to n / 2
    for i in range(2, int(num/2)+1):
  
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
  
else:
    print(num, "is not a prime number")

enter no, 14
14 is not a prime number

Question no 6

In [ ]:
# Python program to find the largest number among the three input numbers
# take three numbers from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

Enter first number: 1
Enter second number: 4
Enter third number: 6
The largest number is 6.0

QUESTION NO 6 CHECK BINARY NUM OR NOT

In [ ]:
num = int(input("please give a number : "))
while(num>0):
    j=num%10
    if j!=0 and j!=1:
        print("num is not binary")
        break
    num=num//10
    if num==0:
        print("num is binary")

please give a number : 010
num is binary

QUESTION NO 8 
SUM OF DIGITS

In [ ]:
a=(2, 4 , 8 , 2)
x=sum(a )
print(x)

16

In [ ]:
Question 9

In [ ]:
x= int(input("enter value  for swapping:"))
y=int(input("enter value for swapping:"))
print("value before swapping :")
print("value of x: ",x ,"Value of y: ", y)
x , y = y, x
print("value after swapping:")
print(" value of x: ", x, "Value of  y: ", y)

enter value  for swapping:23
enter value for swapping:45
value before swapping :
value of x:  23 Value of y:  45
value after swapping:
 value of x:  45 Value of  y:  23

In [ ]:
x= int(input("enter value  for swapping:"))
y=int(input("enter value for swapping:"))
print("Value before swapping :")
print("Value of x: ",x ,"Value of y:" , y)
z = y, x
print("Value after swapping:")
print("Value of z:",z)

enter value  for swapping:23
enter value for swapping:67
Value before swapping :
Value of x:  23 Value of y: 67
Value after swapping:
Value of z: (67, 23)